body {
	background-color: #33FFD7;
}

.linkes {
	font-size: 20px;
}

#titles {
	font-size: 60px;
	color: red;
	background: green;
}

.hottil {
	opacity: 60%;
	font-size: 20px;
	color: green;
}

.button {

}

.images {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	width: 1000px;
	height: 500px;
}